@model List<Employee>
<div class="container-fluid">


	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Team Section Employees</h6>
	
			@if (Model.Count <4)
			{
				<a class="btn btn-success" asp-area="Manage" asp-controller="Team" asp-action="Create">Add employee</a>
				
			}
			else{
				<p>Maximum 4 employees may</p>
			}
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Surname</th>
							<th>Position</th>
							<th>Image</th>
							<th>Twitter</th>
							<th>Instagram</th>
							<th>Facebook</th>
							<th>Linkedin</th>
							<th>Update</th>
							<th>Delete</th>
							
						</tr>
					</thead>
					<tbody>
						@foreach (Employee em in Model)
						{
							<tr>
								<td>@em.Name</td>
								<td>@em.Surname</td>
								<td>@em.Position</td>
								<td><a href="~/assets/img/team/@em.Image"><img src="~/assets/img/team/@em.Image" width="40"></img></a></td>
								<td>@em.Twitter</td>
								<td>@em.Instagram</td>
								<td>@em.Facebook</td>
								<td>@em.Linkedin</td>
								<td><a class="btn btn-warning" asp-area="Manage" asp-controller="Team" asp-action="Update" asp-route-id="@em.Id">Update</a></td>
								<td><a class="btn btn-danger" asp-area="Manage" asp-controller="Team" asp-action="Delete" asp-route-id="@em.Id">Delete</a></td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

